body {
  background-color: #f6f0f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin: 0;
  overflow-x: hidden; /* Prevent horizontal overflow */
}

#wee {
  position: absolute;
  top: 18vw;
  left: -10vw;
  width: 40%;
  max-width: 600px;
}

#textblock {
  position: absolute;
  top: 30vw;
  left: 18vw;
  max-width: 80%;
  font-size: 1.4vw;
  font-family: sans-serif;
  text-align: right;
}

#rectangletext {
  position: absolute;
  top: 28%;
  left: 5%;
  bottom: 1.2vw;
  left: 8vw;
  align-content: stretch;

  font-size: 2.5vw;

  font-family: sans-serif;
  font-weight: bold;

  width: 80vw;
  height: 4vw;
  color: #f6f0f4;
  line-height: 3vw;
  text-align: center;
}
#rectangle {
  position: absolute;
  top: 12vw;
  right: 0vw;
  left: 0vw;

  background-color: #7d000e;
  width: 110vw;
  height: 10vw;
}
#rectangledown {
  position: relative;
  bottom: -500px;
  right: 290px;
  background-color: #7d000e;
  width: 125vw;
  height: 10vw;
}

.desktop .fa-user {
  position: relative;
  color: #000d0c;
  font-size: 4vw;
  left: -50vw;
  top: 1.5vw;
}

.desktop .fa-bag-shopping {
  position: relative;
  color: #000d0c;
  font-size: 4vw;
  left: -50vw;
  top: 1.5vw;
}

.desktop .fa-globe {
  position: relative;
  color: #000d0c;
  font-size: 4vw;
  left: -50vw;
  top: 1.5vw;
}
.chat-popup {
  font-family: Arial, sans-serif;
  display: fixed;
  /* display: fixed; */
  position: fixed;
  bottom: 80px;
  right: 120px;
  height: 350px;
  width: 300px;
  background-color: rgb(195, 195, 178);
  flex-direction: column;
  justify-content: space-between;
  padding: 0.75rem;
  box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.4);
  border-radius: 10px;
}

.desktop #home {
  position: relative;
  background-color: #7d000e;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  font-size: 1.3vw;
  font-weight: 600;
  width: 10vw;
  height: 4vw;
  color: #f6f0f4;
  text-align: center;
}

.desktop #tours {
  position: relative;
  background-color: #7d000e;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  font-size: 1.3vw;
  font-weight: 600;
  width: 10vw;
  height: 4vw;
  color: #f6f0f4;
  text-align: center;
}
.desktop #aboutus {
  position: relative;
  background-color: #7d000e;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  font-size: 1.3vw;
  font-weight: 600;
  min-width: 10vw;
  min-height: 4vw;
  color: #f6f0f4;
  text-align: center;
}
.desktop #contactus {
  position: relative;
  background-color: #7d000e;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  font-size: 1.3vw;
  font-weight: 600;
  justify-content: center;
  width: 10vw;
  height: 4vw;
  color: #f6f0f4;
  text-align: center;
}
.desktop #buttons {
  position: relative;
  top: 2vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0vw;
  grid-row-gap: 0vw;
  justify-items: right;
  width: 50vw;
  height: 0vw;
}
.desktop #icons {
  position: absolute;
  top: 2vw;
  margin-left: 82vw;
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0vw;
  grid-row-gap: 0vw;
  z-index: 99;
  width: 16vw;
  height: 0vw;
  justify-items: start;
}

/* Styles for screen sizes above 768px */
@media (min-width: 600px) {
  .mobile-nav {
    display: none;
  }
  #hamburger {
    display: none; /* Hide the hamburger icon */
  }
  /* Additional styles for the buttons on larger screens */
  .desktop #buttons {
    /* Remove the justify-items property to prevent moving "Contact Us" to the left */
    justify-items: initial;
    /* Add any other styles for the buttons on larger screens */

    /* Add positioning styles to keep the "Contact Us" button in place */
    position: absolute;
    top: 4vw;
    right: 45vw;
    /* Adjust the values above to position the buttons where you want them */
  }

  #home,
  #tours,
  #aboutus,
  #contactus {
    display: block;
    /* Add any other styles for the buttons on larger screens */
  }
}

/* Responsive styles using media queries */
@media screen and (max-width: 768px) {
  /* Styles for screens up to 768px wide (e.g., smartphones) */
  #hamburger {
    position: absolute;
    top: 5vw;
    margin-left: 5vw;
    display: block;
  }
  .hamburger {
    position: absolute;
    top: 3vw;
    left: 10px;
    display: block;
    width: 35px;
    height: 15px;
    cursor: pointer;

    appearance: none;
    background: none;
    outline: none;
    border: none;
    z-index: 100;
  }

  #home,
  #tours,
  #aboutus,
  #contactus {
    display: none; /* Hide the buttons */
  }

  .hamburger .bar,
  .hamburger:after,
  .hamburger:before {
    content: "";
    display: block;
    width: 80%;
    height: 3px;
    background-color: #000000;
    margin: 6px 0px;
    transition: 0.4s;
  }

  .hamburger.is-active:before {
    transform: rotate(-30deg) translate(-9px, 8px);
  }

  .hamburger.is-active:after {
    transform: rotate(30deg) translate(-7px, -4px);
  }

  .hamburger.is-active .bar {
    opacity: 0;
  }
  .mobile-nav {
    position: fixed;
    top: 0;
    right: 100%;
    width: 100%;
    min-height: 100vh;
    display: block;
    z-index: 98;
    background-color: #7d000e;
    padding-top: 120px;
    transition: 0.4s;
  }

  .mobile-nav.is-active {
    right: 0;
  }

  .mobile-nav a {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto 16px;
    text-align: center;
    padding: 12px 16px;
    background-color: #7d000e;
    font-family: Arial, sans-serif;
    color: #fff;
    text-decoration: none;
  }
  .chat-popup {
    display: none;
    font-family: Arial, sans-serif;
    position: fixed;
    font-size: 2.5vw;
    bottom: 30px; /* Adjust the distance from the bottom as needed */
    right: 11px; /* Adjust the distance from the right as needed */
    height: 300px; /* Adjust the height as needed */
    width: 250px; /* Adjust the width as needed */
    max-width: 90%; /* Add a max-width to prevent it from getting too large */
    background-color: rgb(195, 195, 178);
    flex-direction: column;
    justify-content: space-between;
    padding: 0.75rem;
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.4);
    border-radius: 10px;
  }

  #wee {
    max-width: 100%;

    position: absolute;
    top: 56vw;
    left: 50%; /* Center the image horizontally */
    transform: translateX(-50%);
  }
  #textblock {
    position: absolute;
    top: 38vw;
    left: 50%;
    transform: translateX(-50%);
    max-width: 80%;
    font-size: 3.5vw;
    font-family: sans-serif;
    text-align: center;
  }
  #rectangletext {
    position: absolute;
    top: 40%;
    left: 8%;
    font-size: 10vw;
    font-family: sans-serif;
    font-weight: bold;
    width: 80%;
    color: #f6f0f4;
    text-align: center;
  }
  .desktop #rectangle {
    position: absolute;
    top: 10vw;
    right: 0vw;
    left: 0vw;

    background-color: #7d000e;
    width: 100vw;
    height: 20vw;
  }
  .desktop #rectangledown {
    position: relative;
    top: 139px;
    left: 50%; /* Change the value to position it horizontally */
    transform: translateX(-50%); /* Center the rectangle horizontally */
    background-color: #7d000e;
    width: 100vw; /* Adjust the width as needed */
    height: 30px; /* Adjust the height as needed */
  }
  .desktop .fa-user {
    position: absolute;
    color: #000d0c;
    font-size: 4vw;
    left: -28vw;
    top: 1.5vw;
  }

  .desktop .fa-bag-shopping {
    position: absolute;
    color: #000d0c;
    font-size: 4vw;
    left: -21vw;
    top: 1.5vw;
  }

  .desktop .fa-globe {
    position: absolute;
    color: #000d0c;
    font-size: 4vw;
    left: -15vw;
    top: 1.5vw;
  }
}
