#wee {
  position: relative;
  right: 700px;
  bottom: 350px;
  width: 600px;
}

#textblock {
  position: absolute;
  top: 35vw;
  left: 55vw;
  max-height: 10vw;
  width: 40vw;
  font-size: 20px;
  font-family: sans-serif;
  text-align: center;
}

/* Kod för rätt färger på symbolen */
.desktop .fa-user {
  position: relative;
  color: #000d0c;
  font-size: 4vw;
}

.desktop .fa-bag-shopping {
  position: relative;
  color: #000d0c;
  font-size: 4vw;
}

.desktop .fa-globe {
  position: relative;
  color: #000d0c;
  font-size: 4vw;
}
#rectangledown {
  position: relative;
  top: 100vw;
  right: 0vw;
  left: 0vw;

  background-color: #7d000e;
  width: 100vw;
  height: 10vw;
}
