body {
    font-family:sans-serif;
    background-color: #F6F0F4;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100%;
  }
  .grid-item-1 {
  padding: 50px;
    text-align: center;
    background-color: #F6F0F4;
  }
  
  .grid-item-2 {
    text-align: center;
    background-color: #F6F0F4;
    max-width: auto;
    height:auto;
  }
  
  

  #fish{
    float: left;
    left: 10px;
    top: 5%;
    position: relative;
  }

  .info{
    text-align: left;
    left: -17%;
    top: 105%;
    position: relative;
    color: #7D000E;
  }

  .one {
    position: absolute;
    left: 6%;
    top: 88%;
    font-size: large;
    color: #7D000E;
  }

  .total {
    font-size: large;
    font-weight: 600;
    position: absolute;
    left: 2%;
    top: 100%;
    color: #7D000E;
  }

  .buy{
    position: absolute;
    top: 110%; 
    left: 1%;
    align-items: center;
    background-color:#7D000E ;
    border: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 200;
    line-height: 5px;
    width: 9%;
    height: 6%;
    color:#F6F0F4;
    text-align: center;
    border-radius: 50px;
    padding: auto;
  }
  
  #trash{
    position: absolute;
    top: 85%; 
    left: 2%;
    color: #7D000E;
  }

  #plusminus {
    position: absolute;
    left: 8%;
    top: 85%;
    color: #7D000E;
  }


  .fa-user {
    position: absolute; top: 5%; right: 2%;
    color:#7D000E;
  }
  
  .fa-bag-shopping {
    position: absolute; top: 5%; right: 7%;
    color: #7D000E; 
  }

  .fa-globe {
    position: absolute; top: 5%; right: 12%;
    color: #7D000E;  
  }

  #home {
    position: absolute; top: 5%; right: 88%;
    align-items: center;
    background-color: #7D000E;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    font-size: 1.2vw;
    font-weight: 600;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    min-width: 10%;
    min-height: 7%;
    color: #F6F0F4;
    
    text-align: center;
  }
  
  
  #tours {
    position: absolute; top: 5%; right: 76%;
    align-items: center;
    background-color: #7D000E;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    font-size: 1.2vw;
    font-weight: 600;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    min-width: 10%;
    min-height: 7%;
    color: #F6F0F4;
    
    text-align: center;
  }
  #aboutus {
    position: absolute; top: 5%; right: 64%;
    align-items: center;
    background-color: #7D000E;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    font-size: 1.2vw;
    font-weight: 600;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    min-width: 10%;
    min-height: 7%;
    color: #F6F0F4;
    
    text-align: center;
  }
  #contactus {
    position: absolute; top: 5%; right: 52%;
    align-items: center;
    background-color: #7D000E;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    font-size: 1.2vw;
    font-weight: 600;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    min-width: 10%;
    min-height: 7%;
    color: #F6F0F4;
    
    text-align: center;
  }

  #account {
    position: absolute;
    left:-68%;
    top: 27%;
    color: #7D000E;
  }

  .contact {
    font-size: 17px;
    font-weight: 700;
    color: #7D000E;
    position: absolute;
    left: 43%;
    top: 30%;
  }

  .search1 {
    position: absolute; 
    top: 45%; 
    left: 35%;
    align-items: center;
    background-color:#F6F0F4 ;  
    border: 2px solid #7D000E;
    border-radius: 50px;
  }
  
  .search2 {
    position: absolute; 
    top: 45%; 
    left: 48%;
    align-items: center;
    background-color:#F6F0F4 ;  
    border: 2px solid #7D000E;
    border-radius: 50px;
  }
  
  .search3 {
    position: absolute; 
    top: 57%; 
    left: 35%;
    align-items: center;
    background-color:#F6F0F4 ;  
    border: 2px solid #7D000E;
    border-radius: 50px;
  }

  .search4 {
    position: absolute; 
    top: 57%; 
    left: 48%;
    align-items: center;
    background-color:#F6F0F4 ;  
    border: 2px solid #7D000E;
    border-radius: 50px;
  }
  
.input1 {
    border: 5px;
    border-radius: 10px;
    outline: none;
    background-color: #F6F0F4;
  }
  
  .input2 {
    border: 5px;
    border-radius: 10px ;
    outline: none;
    background-color: #F6F0F4;
  }
  
  .input3 {
    border: 5px;
    border-radius: 10px ;
    outline: none;
    background-color: #F6F0F4;
  }

  .input4 {
    border: 5px;
    border-radius: 10px ;
    outline: none;
    background-color: #F6F0F4;
  }

  .name {
    color: #7D000E;
    position: absolute; 
    top: 37%; 
    left: 36%;
  }

  .surname {
    color: #7D000E;
    position: absolute;
    top: 37%;
    left: 49%;
  }

  .email {
    color: #7D000E;
    position: absolute;
    top: 50%;
    left: 36%;
  }

  .phone {
    color: #7D000E;
    position: absolute;
    top: 50%;
    left: 49%;
  }

  #visa {
    position: absolute;
    left: 26%;
    top: 84%;
    color: #7D000E;
  }

  #master {
    position: absolute;
    left: 26%;
    top: 90%;
    color: #7D000E;
  }

  #paypal {
    position: absolute;
    left: 26%;
    top: 96%;
    color: #7D000E;
  }

  .search5 {
    position: absolute; 
    top: 85%; 
    left: 35%;
    align-items: center;
    background-color:#F6F0F4 ;  
    border: 2px solid #7D000E;
    border-radius: 50px;
    width: 25%;
  }
  
  .search6 {
    position: absolute; 
    top: 97%; 
    left: 35%;
    align-items: center;
    background-color:#F6F0F4 ;  
    border: 2px solid #7D000E;
    border-radius: 50px;
  }

  .search7 {
    position: absolute; 
    top: 97%; 
    left: 48%;
    align-items: center;
    background-color:#F6F0F4 ;  
    border: 2px solid #7D000E;
    border-radius: 50px;
  }
  
.input5 {
    border: 5px;
    border-radius: 10px;
    outline: none;
    background-color: #F6F0F4;
  }
  
  .input6 {
    border: 5px;
    border-radius: 10px ;
    outline: none;
    background-color: #F6F0F4;
  }
  
  .input7 {
    border: 5px;
    border-radius: 10px ;
    outline: none;
    background-color: #F6F0F4;
  }

  .card {
    color: #7D000E;
    position: absolute; 
    top: 77%; 
    left: 36%;
  }

  .code {
    color: #7D000E;
    position: absolute;
    top: 90%;
    left: 49%;
  }

  .date {
    color: #7D000E;
    position: absolute;
    top: 90%;
    left: 36%;
  }

  .pay {
    font-size: 17px;
    font-weight: 700;
    color: #7D000E;
    position: absolute;
    left: 41%;
    top: 70%;
  }

  @media screen and (min-width: 600px) {
    #account {
        width: auto;
        position:relative;
        transform: none;
      }
    
      .contact {
        font-size: 17px;
        font-weight: 700;
        color: #7D000E;
        position: absolute;
        left: 43%;
        top: 30%;
      }
    
      .search1 {
        position: absolute; 
        top: 45%; 
        left: 35%;
        align-items: center;
        background-color:#F6F0F4 ;  
        border: 2px solid #7D000E;
        border-radius: 50px;
      }
      
      .search2 {
        position: absolute; 
        top: 45%; 
        left: 48%;
        align-items: center;
        background-color:#F6F0F4 ;  
        border: 2px solid #7D000E;
        border-radius: 50px;
      }
      
      .search3 {
        position: absolute; 
        top: 57%; 
        left: 35%;
        align-items: center;
        background-color:#F6F0F4 ;  
        border: 2px solid #7D000E;
        border-radius: 50px;
      }
    
      .search4 {
        position: absolute; 
        top: 57%; 
        left: 48%;
        align-items: center;
        background-color:#F6F0F4 ;  
        border: 2px solid #7D000E;
        border-radius: 50px;
      }
      
    .input1 {
        border: 5px;
        border-radius: 10px;
        outline: none;
        background-color: #F6F0F4;
      }
      
      .input2 {
        border: 5px;
        border-radius: 10px ;
        outline: none;
        background-color: #F6F0F4;
      }
      
      .input3 {
        border: 5px;
        border-radius: 10px ;
        outline: none;
        background-color: #F6F0F4;
      }
    
      .input4 {
        border: 5px;
        border-radius: 10px ;
        outline: none;
        background-color: #F6F0F4;
      }
    
      .name {
        color: #7D000E;
        position: absolute; 
        top: 37%; 
        left: 36%;
      }
    
      .surname {
        color: #7D000E;
        position: absolute;
        top: 37%;
        left: 49%;
      }
    
      .email {
        color: #7D000E;
        position: absolute;
        top: 50%;
        left: 36%;
      }
    
      .phone {
        color: #7D000E;
        position: absolute;
        top: 50%;
        left: 49%;
      }
    
      #visa {
        position: absolute;
        left: 26%;
        top: 84%;
        color: #7D000E;
      }
    
      #master {
        position: absolute;
        left: 26%;
        top: 90%;
        color: #7D000E;
      }
    
      #paypal {
        position: absolute;
        left: 26%;
        top: 96%;
        color: #7D000E;
      }
    
      .search5 {
        position: absolute; 
        top: 85%; 
        left: 35%;
        align-items: center;
        background-color:#F6F0F4 ;  
        border: 2px solid #7D000E;
        border-radius: 50px;
        width: 25%;
      }
      
      .search6 {
        position: absolute; 
        top: 97%; 
        left: 35%;
        align-items: center;
        background-color:#F6F0F4 ;  
        border: 2px solid #7D000E;
        border-radius: 50px;
      }
    
      .search7 {
        position: absolute; 
        top: 97%; 
        left: 48%;
        align-items: center;
        background-color:#F6F0F4 ;  
        border: 2px solid #7D000E;
        border-radius: 50px;
      }
      
    .input5 {
        border: 5px;
        border-radius: 10px;
        outline: none;
        background-color: #F6F0F4;
      }
      
      .input6 {
        border: 5px;
        border-radius: 10px ;
        outline: none;
        background-color: #F6F0F4;
      }
      
      .input7 {
        border: 5px;
        border-radius: 10px ;
        outline: none;
        background-color: #F6F0F4;
      }
    
      .card {
        color: #7D000E;
        position: absolute; 
        top: 77%; 
        left: 36%;
      }
    
      .code {
        color: #7D000E;
        position: absolute;
        top: 90%;
        left: 49%;
      }
    
      .date {
        color: #7D000E;
        position: absolute;
        top: 90%;
        left: 36%;
      }
    
      .pay {
        font-size: 17px;
        font-weight: 700;
        color: #7D000E;
        position: absolute;
        left: 41%;
        top: 70%;
      }
  }