body {
  font-family:sans-serif;
  background-color: #F6F0F4;
}

.grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 100%;
}
.grid-item-1 {
padding: 40px;
  text-align: center;
  background-color: #F6F0F4;
}

.grid-item-2 {
  font-size: 30px;
  text-align: center;
  background-color: #7D000E;
  max-width: auto;
  height:auto;
  position: relative;
  width: 100vw;
  height: 10vw;
}

.grid-item-3 {
padding: 40px;
  font-size: 30px;
  text-align: center;
  background-color:#F6F0F4;
}

.grid-item-4 {
padding: 40px;
  font-size: 30px;
  text-align: center;
  background-color:#7D000E;
}

.h5{
  position: absolute; bottom: 6vw; left: 8vw;
  align-content: stretch;

  font-size: 2.5vw;
  
  font-family: sans-serif;
  font-weight: normal;
  
  
  width: 80vw;
  height: 4vw;
  color: #F6F0F4;
  line-height: 3vw;
  text-align: center;
}

#fish{
  float: left;
}

.description{
  position: absolute;
  top: 300px;
  left: 500px;
  font-size: 18px;
  text-align: center;
}

.information{
  text-align: left;
  left: 40px;
  position: relative;
}

.fa-user {
    
  position: relative;
  color: #000D0C;
  font-size: 4vw;
  
}

.fa-bag-shopping {
  position: relative;
  color: #000D0C;
  font-size: 4vw;
  
}

.fa-globe {
  position: relative;
  color: #000D0C;
  font-size: 4vw;  
}

#home {
  position: relative;
  
  background-color: #7D000E;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  font-size: 1.3vw;
  font-weight: 600;
  
  
  width: 10vw;
  height: 4vw;
  color: #F6F0F4;
  
  text-align: center;
}

#tours {
  position: relative;
  
  background-color: #7D000E;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  font-size: 1.3vw;
  font-weight: 600;
  
  
  width: 10vw;
  height: 4vw;
  color: #F6F0F4;
  
  text-align: center;
}
#aboutus {
  position: relative;
  
  background-color: #7D000E;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  font-size: 1.3vw;
  font-weight: 600;
  
  
  
  min-width: 10vw;
  min-height: 4vw;
  color: #F6F0F4;
  
  text-align: center;
}
#contactus {
  position: relative;
  
  background-color: #7D000E;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  font-size: 1.3vw;
  font-weight: 600;
  justify-content: center;

  width: 10vw;
  height: 4vw;
  color: #F6F0F4;
  
  text-align: center;
}
.box{
  position: relative; 
  top: 50%; 
  right: 5%;
  align-items: center;
  background-color: #7D000E;
  border: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  width: 16%;
  height: 50%;
  color: #F6F0F4;
  text-align: center;
  border-radius: 30px;
}
.box-container{
  position: relative;
}
.participants{
  position: absolute;
}

.order{
  position: absolute; 
  top: 140%; 
  right: 7%;
  align-items: center;
  background-color:#F6F0F4 ;
  border: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 600;
  justify-content: center;
  line-height: 4px;
  width: 12%;
  height: 5%;
  color: #7D000E;
  text-align: center;
  border-radius: 50px;
}

.search1 {
  position: absolute; 
  top: 132%; 
  right: 7%;
  align-items: center;
  background-color:#F6F0F4 ;  
  border: 5px solid #F6F0F4;
  border-radius: 50px;
}

.search2 {
  position: absolute; 
  top: 121%; 
  right: 7%;
  align-items: center;
  background-color:#F6F0F4 ;  
  border: 5px solid #F6F0F4;
  border-radius: 50px;
}

.search3 {
  position: absolute; 
  top: 111%; 
  right: 7%;
  align-items: center;
  background-color:#F6F0F4 ;  
  border: 5px solid #F6F0F4;
  border-radius: 50px;
}

.input1 {
  border: none;
  background-color:#F6F0F4 ;
  outline: none;
}

.input2 {
  border: none;
  background-color:#F6F0F4 ;
  outline: none;
}

.input3 {
  border: none;
  background-color:#F6F0F4 ;
  outline: none;
}

.participants{
  position: absolute; 
  top: 103%; 
  right: 6%;
  color: #F6F0F4;
  font-weight: 600;
}

.date{
  position: absolute; 
  top: 114%; 
  right: 12%;
  color: #F6F0F4;
  font-weight: 600;
}

.language {
  position: absolute; 
  top: 125%; 
  right: 10%;
  color: #F6F0F4;
  font-weight: 600;
}

#buttons {
  position: relative; top: -2vw;
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(4, 1fr);
grid-column-gap: 0vw;
grid-row-gap: 0vw;
justify-items: right;

width: 50vw;
height: 0vw;
}

#icons { 
  position: relative;  top: -2vw; margin-left: 82vw;
  display: grid; 
  grid-template-columns: repeat(3, 2fr); 
  grid-template-rows: 1fr; 
  grid-column-gap: 0vw;
  grid-row-gap: 0vw; 
  
  width: 16vw;
  height: 0vw;
  justify-items: start;

  }